<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>



<main class="d-flex flex-column align-items-center">
  <h1>Angular Todo-List</h1>
  <h4>By Jeffrey Wolff</h4>

  <div class="py-2">
    <button (click)="addTask()">Add Task</button>
  </div>
  <div class="py-2">
    <button (click)="removeAllTasks()">Remove All</button>
  </div>

  <div class="card task my-4 w-25 text-center" style="width: 18rem;" *ngFor="let task of taskList; let i = index">

    <div>
      <span class="title">Task number:</span> {{i +1}}

      <span class="remove float-end">
        <button (click)='removeTask(i)'> X</button>
      </span>
    </div>


    <div>
      <span class="title"> Title:</span> <br>
      <input [(ngModel)]="task.title" type="text">
    </div>

    <div>
      <span class="title"> Description:</span> <br>
      <input [(ngModel)]="task.description" type="text">
    </div>

    <div class="form-check d-flex justify-content-center">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            <p> Done </p> 
        </label>
      </div>

  </div>

</main>